# Default settings for docker-compose
# @see https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_PROJECT_NAME=hexbatch_dev
COMPOSE_FILE=docker-compose.yml
COMPOSE_CONVERT_WINDOWS_PATHS=1

# build
PHP_VERSION=8.1.5
TIMEZONE=UTC
NETWORKS_DRIVER=bridge

# application
APP_USER=www-data
APP_GROUP=www-data
APP_USER_ID=1000
APP_GROUP_ID=1000
APP_CODE_PATH_HOST=../htdocs
APP_FLOW_PROJECT_PATH_HOST=../flow_projects
APP_CODE_PATH_CONTAINER=/var/www/current
APP_FLOW_PROJECT_PATH_CONTAINER=/var/www/flow_projects

# required so we can reach the nginx server from other containers via that hostname
APP_HOST=hexbatch_dev.local

# nginx
NGINX_HOST_HTTP_PORT=8000
NGINX_HOST_HTTPS_PORT=443

#fill in pw and names below where blank

# mysql
DB_MYSQL_DATABASE=
DB_MYSQL_USER=
DB_MYSQL_PASSWORD=
DB_MYSQL_ROOTPASSWORD=
DB_MYSQL_HOSTPORT=3310
DB_MYSQL_OWNPORT=3306
DB_MYSQL_CHARSET=utf8mb4
DB_MYSQL_COLLATION=utf8mb4_0900_ai_ci

# phinx
PHINX_DBNAME=
PHINX_DBUSER=
PHINX_DBPASS=
PHINX_DBPORT=3306
PHINX_DBHOST=db


# flow
DB_FLOW_DATABASE=
DB_FLOW_USER=
DB_FLOW_PASSWORD=

# phpmyadmin
PHPMYADMIN_PORT=7000

#backup
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=hexbatch-dev-disk-backup
MC_GLOBAL_OPTIONS="--debug"

#volumes
VOLUME_DB_ID=gokabam_hexlet
VOLUME_FLOW_PROJECT_FILES_ID=gokabam_flow_project_files
